<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://mysql15.hostmaster.sk/do784507db"/>
        <property name="username" value="do784500"/>
        <property name="password" value="glavoika"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="trainingDataDatabaseAccessor" class="com.trainingdataprocessor.database.TrainingDataDatabaseAccessorImpl">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <bean id="tagsWriter" class="com.trainingdataprocessor.writer.tags.TagsWriterImpl"/>

    <bean id="bigramsWriter" class="com.trainingdataprocessor.writer.bigrams.BigramsWriterImpl"/>

    <bean id="subPathsWriter" class="com.trainingdataprocessor.writer.subpaths.SubPathsWriterImpl"/>

    <bean id="tokenizer" class="com.trainingdataprocessor.tokens.TokenizerImpl"/>

    <bean id="tagsEncoder" class="com.trainingdataprocessor.encoding.TagsEncoderImpl"/>

    <bean id="listComparator" class="com.trainingdataprocessor.validator.ListComparatorImpl"/>

    <bean id="regexPatternSearcher" class="com.trainingdataprocessor.regex.RegexPatternSearcherImpl"/>

    <bean id="bigramDataListFactory" class="com.trainingdataprocessor.factories.bigram.BigramDataListFactoryImpl"/>

    <bean id="multiListFactory" class="com.trainingdataprocessor.factories.multilist.MultiListFactoryImpl"/>

    <bean id="subPathDataListFactory"
          class="com.trainingdataprocessor.factories.subpath.SubPathDataListFactoryImpl"/>

    <bean id="trainingDataRowListFactory"
          class="com.trainingdataprocessor.factories.row.TrainingDataRowListFactoryImpl">
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="tagsEncoder"/>
        <constructor-arg ref="multiListFactory"/>
    </bean>

    <bean id="trainingDataValidator" class="com.trainingdataprocessor.validator.TrainingDataValidatorImpl">
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="listComparator"/>
    </bean>

    <bean id="trainingDataReader" class="com.trainingdataprocessor.reader.TrainingDataFileReaderImpl">
        <constructor-arg ref="trainingDataValidator"/>
    </bean>

    <bean id="capitalizedTokensProcessor"
          class="com.trainingdataprocessor.preprocessing.CapitalizedTokensProcessorImpl"/>

    <bean id="trainingDataPreprocessor" class="com.trainingdataprocessor.preprocessing.TrainingDataPreprocessorImpl">
        <constructor-arg ref="trainingDataReader"/>
        <constructor-arg ref="trainingDataRowListFactory"/>
        <constructor-arg ref="capitalizedTokensProcessor"/>
    </bean>

    <bean id="prepositionPhrasePreprocessor"
          class="com.trainingdataprocessor.semantics.preprocessing.phrases.PrepositionPhrasePreprocessorImpl">
        <constructor-arg ref="regexPatternSearcher"/>
    </bean>

    <bean id="nounPhrasePreprocessor"
          class="com.trainingdataprocessor.semantics.preprocessing.phrases.NounPhrasePreprocessorImpl">
        <constructor-arg ref="regexPatternSearcher"/>
    </bean>

    <bean id="verbPhrasePreprocessor"
          class="com.trainingdataprocessor.semantics.preprocessing.phrases.VerbPhrasePreprocessorImpl">
        <constructor-arg ref="regexPatternSearcher"/>
    </bean>

    <bean id="semanticPreprocessingFilter"
          class="com.trainingdataprocessor.semantics.preprocessing.SemanticPreprocessingFilterImpl"/>

    <bean id="semanticPreprocessor" class="com.trainingdataprocessor.semantics.preprocessing.SemanticPreprocessorImpl">
        <constructor-arg ref="prepositionPhrasePreprocessor"/>
        <constructor-arg ref="nounPhrasePreprocessor"/>
        <constructor-arg ref="verbPhrasePreprocessor"/>
    </bean>

    <bean id="prepositionPhraseExtractor"
          class="com.trainingdataprocessor.semantics.extraction.phrases.PrepositionPhraseExtractorImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>

    <bean id="nounPhraseExtractor"
          class="com.trainingdataprocessor.semantics.extraction.phrases.NounPhraseExtractorImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>

    <bean id="verbPhraseExtractor"
          class="com.trainingdataprocessor.semantics.extraction.phrases.VerbPhraseExtractorImpl">
        <constructor-arg ref="tokenizer"/>
    </bean>

    <bean id="semanticExtractor"
          class="com.trainingdataprocessor.semantics.extraction.SemanticExtractorImpl">
        <constructor-arg ref="prepositionPhraseExtractor"/>
        <constructor-arg ref="nounPhraseExtractor"/>
        <constructor-arg ref="verbPhraseExtractor"/>
    </bean>

    <bean id="semanticAnalysisExecutor"
          class="com.trainingdataprocessor.semantics.analysis.SemanticAnalysisExecutorImpl">
        <constructor-arg ref="semanticPreprocessor"/>
        <constructor-arg ref="semanticExtractor"/>
    </bean>


    <bean id="nlpTrainingDataProcessor"
          class="com.trainingdataprocessor.main.NlpTrainingDataProcessor">
        <constructor-arg ref="trainingDataPreprocessor"/>
        <constructor-arg ref="tagsWriter"/>
        <constructor-arg ref="bigramsWriter"/>
        <constructor-arg ref="subPathsWriter"/>
        <constructor-arg ref="trainingDataDatabaseAccessor"/>
        <constructor-arg ref="tokenizer"/>
        <constructor-arg ref="bigramDataListFactory"/>
        <constructor-arg ref="subPathDataListFactory"/>
        <constructor-arg ref="semanticAnalysisExecutor"/>
        <constructor-arg ref="semanticPreprocessingFilter"/>
    </bean>

</beans>