<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url"
                  value="jdbc:mysql://mysql15.hostmaster.sk/do784507db" />
        <property name="username" value="do784500" />
        <property name="password" value="glavoika" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="trainingDataAccessor" class="com.postagger.database.TrainingDataAccessorImpl">
        <constructor-arg ref="jdbcTemplate" />
    </bean>

    <bean id="tokenizer" class="com.postagger.tokenizing.TokenizerImpl" />

    <!-- ************************************************************************************************************* -->
    <!-- CACHES -->

    <bean id="constantWordsCache" class="com.postagger.cache.ConstantWordsCache" />

    <bean id="prefixesCache" class="com.postagger.cache.PrefixesCache" />

    <bean id="suffixesCache" class="com.postagger.cache.SuffixesCache" />

    <bean id="tagsCodingCache" class="com.postagger.cache.TagsCodingCache" />

    <bean id="bigramsCache" class="com.postagger.cache.BigramsCacheImpl">
        <constructor-arg ref="trainingDataAccessor" />
    </bean>

    <!-- ************************************************************************************************************* -->

    <!-- MORPHOLOGY -->
    <!-- ************************************************************************************************************* -->

    <bean id="morphemesDetector" class="com.postagger.morphology.MorphemesDetectorImpl">
        <constructor-arg ref="prefixesCache" />
        <constructor-arg ref="suffixesCache" />
    </bean>

    <bean id="morphologicalTagger" class="com.postagger.morphology.MorphologicalTaggerImpl">
        <constructor-arg ref="prefixesCache" />
        <constructor-arg ref="suffixesCache" />
    </bean>

    <bean id="morphologicalAnalyser" class="com.postagger.morphology.MorphologicalAnalyserImpl">
        <constructor-arg ref="morphemesDetector" />
        <constructor-arg ref="morphologicalTagger" />
    </bean>

    <!-- ************************************************************************************************************* -->
    <!-- PATHS -->



    <bean id="encodedPathsAsStringDecoder"
          class="com.postagger.paths.EncodedPathsAsStringDecoderImpl">
        <constructor-arg ref="tagsCodingCache" />
    </bean>

    <bean id="encodedPathsAsStringGenerator"
          class="com.postagger.paths.EncodedPathsAsStringGeneratorImpl">
        <constructor-arg ref="tagsCodingCache" />
    </bean>

    <bean id="pathsAsStringProbabilityCalculator"
          class="com.postagger.paths.PathsAsStringProbabilityCalculatorImpl">
        <constructor-arg ref="bigramsCache" />
        <constructor-arg ref="encodedPathsAsStringDecoder" />
    </bean>

    <bean id="encodedPathsAsStringAnalyser"
          class="com.postagger.paths.EncodedPathsAsStringAnalyserImpl">
        <constructor-arg ref="trainingDataAccessor" />
        <constructor-arg ref="pathsAsStringProbabilityCalculator" />
    </bean>


    <!-- ************************************************************************************************************* -->
    <!-- SUBPATHS -->

    <bean id="subPathsDataFactory" class="com.postagger.subpaths.factories.SubPathsDataFactoryImpl"/>

    <bean id="subPathsDataListFactory" class="com.postagger.subpaths.factories.SubPathsDataListFactoryImpl">
        <constructor-arg ref="subPathsDataFactory" />
    </bean>

    <bean id="subPathsMerger" class="com.postagger.subpaths.SubPathsMergerImpl">
        <constructor-arg ref="tokenizer" />
    </bean>

    <bean id="subPathsProbabilitySorter" class="com.postagger.subpaths.SubPathsProbabilitySorterImpl" />

    <bean id="subPathsAnalyser" class="com.postagger.subpaths.SubPathsAnalyserImpl">
        <constructor-arg ref="subPathsDataListFactory" />
        <constructor-arg ref="subPathsDataAnalysisVisitor" />
        <constructor-arg ref="subPathsMerger" />
        <constructor-arg ref="subPathsProbabilitySorter" />
    </bean>

    <!-- ************************************************************************************************************* -->

    <!-- VISITORS -->
    <!-- ************************************************************************************************************* -->
    <bean id="startTagEndTagPairVisitor"
          class="com.postagger.visitors.StartTagEndTagPairTrainingDataVisitorImpl">
        <constructor-arg ref="trainingDataAccessor" />
    </bean>


    <bean id="subPathsDataAnalysisVisitor" class="com.postagger.visitors.SubPathsDataAnalysisVisitorImpl">
        <constructor-arg ref="startTagEndTagPairVisitor" />
        <constructor-arg ref="pathsAsStringProbabilityCalculator" />
    </bean>

    <!-- ************************************************************************************************************* -->

    <!-- PREPROCESSING -->
    <!-- ************************************************************************************************************* -->
    <bean id="sentencePreprocessor" class="com.postagger.preprocessing.SentencePreprocessorImpl">
        <constructor-arg ref="constantWordsCache" />
        <constructor-arg ref="morphologicalAnalyser" />
        <constructor-arg ref="tokenizer" />
        <constructor-arg ref="encodedPathsAsStringGenerator" />
    </bean>
    <!-- ************************************************************************************************************* -->

    <bean id="postagger" class="com.postagger.main.PosTagger">
        <constructor-arg ref="startTagEndTagPairVisitor" />
        <constructor-arg ref="subPathsDataAnalysisVisitor" />
        <constructor-arg ref="trainingDataAccessor" />
        <constructor-arg ref="pathsAsStringProbabilityCalculator" />
        <constructor-arg ref="subPathsAnalyser" />
        <constructor-arg ref="encodedPathsAsStringAnalyser"/>
        <constructor-arg ref="bigramsCache"/>
        <constructor-arg ref="sentencePreprocessor"/>
    </bean>

</beans>